{% extends "users/base.html" %}
{% block title %}
Home
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="alert alert-success" role="alert">
    <h3>Welcome {{ user.username }}!</h3>
    <a href="{% url 'logout' %}">Logout?</a>
</div>
{% else %}
<div class="alert alert-success" role="alert">
    <h3>Welcome To WebSite</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Upload</button>
    </form>
    <!-- upload image  -->
    {% if img_obj %}
    <h3>Succesfully Upload Image:{{img_obj.captions}}</h3>
    <img src="{{img_obj.image.url}}" alt="Connect" style="max-height: 300px;">
    {% endif %}
    <br><br>
    <a href="{% url 'register' %}">Signup</a>
    <a href="{% url 'login' %}">Login</a>
</div>
{% endif %}

{% endblock %}